:root {
    --clr-gray-50: #f6f6f6;
    --clr-gray-50-o60: #f6f6f699;
    --clr-gray-100: #e7e7e7;
    --clr-gray-100-o60: #e7e7e799;
    --clr-gray-200: #d1d1d1;
    --clr-gray-200-o60: #d1d1d199;
    --clr-gray-300: #b0b0b0;
    --clr-gray-300-o60: #b0b0b099;
    --clr-gray-400: #888888;
    --clr-gray-400-o60: #88888899;
    --clr-gray-500: #777777;
    --clr-gray-500-o60: #77777799;
    --clr-gray-600: #5d5d5d;
    --clr-gray-600-o60: #5d5d5d99;
    --clr-gray-700: #4f4f4f;
    --clr-gray-700-o60: #4f4f4f99;
    --clr-gray-800: #454545;
    --clr-gray-800-o60: #45454599;
    --clr-gray-900: #3d3d3d;
    --clr-gray-900-o60: #3d3d3d99;
    --clr-gray-950: #262626;
    --clr-gray-950-o60: #26262699;

    --clr-royal-blue-50: #eef6ff;
    --clr-royal-blue-50-o60: #eef6ff99;
    --clr-royal-blue-100: #e0efff;
    --clr-royal-blue-100-o60: #e0efff99;
    --clr-royal-blue-200: #c7e0fe;
    --clr-royal-blue-200-o60: #c7e0fe99;
    --clr-royal-blue-300: #a6cafb;
    --clr-royal-blue-300-o60: #a6cafb99;
    --clr-royal-blue-400: #82abf7;
    --clr-royal-blue-400-o60: #82abf799;
    --clr-royal-blue-500: #648bf0;
    --clr-royal-blue-500-o60: #648bf099;
    --clr-royal-blue-600: #5673e6;
    --clr-royal-blue-600-o60: #5673e699;
    --clr-royal-blue-700: #3953c9;
    --clr-royal-blue-700-o60: #3953c999;
    --clr-royal-blue-800: #3147a2;
    --clr-royal-blue-800-o60: #3147a299;
    --clr-royal-blue-900: #2f4180;
    --clr-royal-blue-900-o60: #2f418099;
    --clr-royal-blue-950: #1b244b;
    --clr-royal-blue-950-o60: #1b244b99;

    --clr-error: #bc3d5f;
}

:root.light-mode {
    --clr-bg: var(--clr-gray-100);
    --clr-bg-light: var(--clr-gray-50);
    --clr-bg-dark: var(--clr-gray-200);

    --clr-text: var(--clr-gray-900);
    --clr-text-light: var(--clr-gray-800);
    --clr-text-dark: var(--clr-gray-950);

    --clr-primary-50: var(--clr-royal-blue-50);
    --clr-primary-100: var(--clr-royal-blue-100);
    --clr-primary-200: var(--clr-royal-blue-200);
    --clr-primary-300: var(--clr-royal-blue-300);
    --clr-primary-400: var(--clr-royal-blue-400);
    --clr-primary-500: var(--clr-royal-blue-500);
    --clr-primary-600: var(--clr-royal-blue-600);
    --clr-primary-700: var(--clr-royal-blue-700);
    --clr-primary-800: var(--clr-royal-blue-800);
    --clr-primary-900: var(--clr-royal-blue-900);
    --clr-primary-950: var(--clr-royal-blue-950);
}

:root.dark-mode {
    --clr-bg: var(--clr-gray-900);
    --clr-bg-light: var(--clr-gray-800);
    --clr-bg-dark: var(--clr-gray-950);

    --clr-text: var(--clr-gray-100);
    --clr-text-light: var(--clr-gray-50);
    --clr-text-dark: var(--clr-gray-200);

    --clr-primary-50: var(--clr-royal-blue-50);
    --clr-primary-100: var(--clr-royal-blue-100);
    --clr-primary-200: var(--clr-royal-blue-200);
    --clr-primary-300: var(--clr-royal-blue-300);
    --clr-primary-400: var(--clr-royal-blue-400);
    --clr-primary-500: var(--clr-royal-blue-500);
    --clr-primary-600: var(--clr-royal-blue-600);
    --clr-primary-700: var(--clr-royal-blue-700);
    --clr-primary-800: var(--clr-royal-blue-800);
    --clr-primary-900: var(--clr-royal-blue-900);
    --clr-primary-950: var(--clr-royal-blue-950);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    color: var(--clr-text);

    background-color: var(--clr-bg);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    color: inherit;
    text-decoration: inherit;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: min(82%, 1024px);
    margin-inline: auto;
}

.centered {
    display: grid;
    place-items: center;
}

.text-preview {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    -webkit-line-clamp: 3;
}

.shadow {
    box-shadow: rgba(20, 20, 30, 0.2) 0px 7px 29px 0px;
}

.min-h-screen {
    min-height: 100vh;
}
